% Kopiraj to datoteko v test.tex
% in zamenjaj ime naloge pri definiciji ukaza \testnaNaloga
\documentclass[a4paper, 11pt, titlepage]{article}
\input{tex/paketi.tex}
\usepackage{fourier} % zakomentiraj, če se pojavijo težave
\input{tex/ukazi.tex}
\pgfrealjobname{test}
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
\newcommand{\nal}[1][]{{\tt \taoznaka{#1}}\xspace}
\newcommand{\res}[1][]{{\tt \taoznaka{#1}}\xspace}

% Zamenjaj ime naloge z želeno nalogo za testiranje
\newcommand{\testnaNaloga}{ajkalaj}

\begin{document}

\section{Naloge}
{
\input{tex/naloga.tex}
\izpisiNalogo{\testnaNaloga}
}

\clearpage

\section{Rešitve}
{
\input{tex/resitev.tex}
\izpisiNalogo{\testnaNaloga}
}

\clearpage

\bibliographystyle{bababbrv-fl}
\bibliography{reference}

\end{document}
